{
	"equipments": [
		{
			"id": 2,
			"name": "碧血珠·幻",
			"prefixion": "精确",
			"content": "装备:精确之碧血珠·幻"
		},
		{
			"id": 3,
			"name": "无妄极天裤",
			"prefixion": "强壮",
			"content": "装备:强壮之无妄极天裤"
		},
		{
			"id": 4,
			"name": "无妄极天袖",
			"prefixion": "厚重",
			"content": "装备:厚重之无妄极天袖"
		},
		{
			"id": 5,
			"name": "无妄极天履",
			"prefixion": "天·城堡",
			"content": "装备:天·城堡之无妄极天履"
		},
		{
			"id": 6,
			"name": "天启衫",
			"prefixion": "无",
			"content": "装备:天启衫"
		},
		{
			"id": 7,
			"name": "天启巾",
			"prefixion": "无",
			"content": "装备:天启巾"
		},
		{
			"id": 8,
			"name": "月落链",
			"prefixion": "致死",
			"content": "装备:致死之月落链"
		},
		{
			"id": 9,
			"name": "童真耳坠",
			"prefixion": "城堡",
			"content": "装备:城堡之童真耳坠"
		},
		{
			"id": 10,
			"name": "童真耳环",
			"prefixion": "结界",
			"content": "装备:结界之童真耳环"
		},
		{
			"id": 11,
			"name": "月落徽戒",
			"prefixion": "致命",
			"content": "装备:致命之月落徽戒"
		},
		{
			"id": 12,
			"name": "月落徽戒",
			"prefixion": "破坏",
			"content": "装备:破坏之月落徽戒"
		}
	]
}