{
  "equipments": [
  {
    "id" : 1,
    "name" : "风息凝玉",
    "prefixion" : "兼备"
  },
  {
    "id" : 2,
    "name" : "碧血珠·幻",
    "prefixion" : "精确"
  },
  {
    "id" : 3,
    "name" : "无妄极天裤",
    "prefixion" : "强壮"
  },
  {
    "id" : 4,
    "name" : "无妄极天袖",
    "prefixion" : "厚重"
  },
  {
    "id" : 5,
    "name" : "无妄极天履",
    "prefixion" : "天·城堡"
  },
  {
    "id" : 6,
    "name" : "天启衫",
    "prefixion" : "无"
  },
  {
    "id" : 7,
    "name" : "天启巾",
    "prefixion" : "无"
  },
  {
    "id" : 8,
    "name" : "月落链",
    "prefixion" : "致死"
  },
  {
    "id" : 9,
    "name" : "童真耳坠",
    "prefixion" : "城堡"
  },
  {
    "id" : 10,
    "name" : "童真耳环",
    "prefixion" : "结界"
  },
  {
    "id" : 11,
    "name" : "月落徽戒",
    "prefixion" : "致命"
  },
  {
    "id" : 12,
    "name" : "月落徽戒",
    "prefixion" : "破坏"
  }
  ]

}